<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealtimeGeolation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CE8247F1D57B5380001214E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE824961D57B5380001214E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE824A11D57B5380001214E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
